// contacts start

.contacts {
    padding: 130px;

    @media(max-width:$tablet){
        padding: 64px 16px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 auto;
        @media(max-width:$tablet){
            flex-direction: column;
        }
    }

    &__content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media(max-width:$tablet){
            flex-direction: column;
        }
        
    }

    &__title{
        margin-bottom: 120px;
    }

    &__text{
        width: 50%;
       padding-bottom: 80px;
        
    }

   
    &__img{
        width: 20px;
        cursor: pointer;
    }

    &__icons{
        display: flex;
        margin-top: 20px;
        gap: 24px;
    }
    
    &__item{
        display: flex;
        
       
    }

    &__social{
       display: flex;
       flex-direction: column;
    }

    &__description{
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media(max-width:$tablet){
            flex-direction: column;
        }
    }
    
    &__text2{
        padding-top: 23px;
    }

    &__modal{
        display: flex;
        width: 50%;
        @media (max-width:$tablet) {
            width: 100%;
        }
    }

    &__form{
        width: 100%;
        @media(max-width:$tablet){
            margin-top: 30px;
        }
    }

}

// contacts end