.home {
        padding: 130px;
    
        @media(max-width:$tablet){
            padding: 64px 16px;
        }
    
        &__container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: 0 auto;
            @media(max-width:$tablet){
                flex-direction: column;
            }
        }

    }
       
    .slider{
        display: flex;
        gap:30px;
        overflow: scroll;
        justify-content: center;
        margin:50px 50px 50px 50px;
        @media (max-width: $tablet) {
            margin:30px 0 50px 0;
        }
    
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
    
        &__cart-img{
            width: 520px;
            margin-bottom: 16px;
            @media (max-width: $tablet) {
                max-width: 257px;
            }
        }
    }

        .info{
            gap: 30px;
            display: flex;
            justify-content: space-between;
            @media(max-width:$tablet){
                display: flex;
                flex-direction: column;
        }
       
        &__content{
            width: 100%;
            gap: 30px;
            display: flex;
            justify-content: space-between;
            @media(max-width:$tablet){
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-between;
        }
    }
        &__descrip{
            width: 50%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            @media(max-width:$tablet){
                width: 100%;
            }
            
            
        }

        &__descrip-text{
            width: 50%;
            gap: 30px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            @media(max-width:$tablet){
                width: 100%;
            }

                       
        }
    }
 
        .post{
            width: 100%;
            margin-top: 130px;
            
            display: flex;
            justify-content: space-between;
            @media(max-width:$tablet){
                margin-bottom: 0;
            }
            
            
        
    
        &__title{
            display: flex;
            justify-content: space-between;
            text-align: end;
            gap: 73%;
            @media(max-width:$tablet){
                flex-direction: column;
                gap:20px;
                text-align: start;
                margin-bottom: 20px;
            }
        }

            &__texts{
                width: 50%;
        }

        &__card{
            display: flex;
            justify-content: space-between;
            @media(max-width:$tablet){
                flex-direction: column;
                gap: 20px;
            }
        }

       &__posts{
            margin-top: 50px;
            width: 100%;
            gap: 30px;
            display: flex;
            justify-content: space-between;
            @media(max-width:$tablet){
                flex-direction: column;
                gap: 30px;
            }
           

        }
        
        &__text{
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            text-align: center;
            gap: 38%;
            @media(max-width:$tablet){
                flex-direction: column;
                gap: 15px;
                text-align: start;
                margin-bottom: 30px;
            }
           
        }

        &__descr{
            display: flex;
            justify-content: space-between;
            margin-top: 60px;

        }

       

            &__item{
                width: 30%;
                @media(max-width:$tablet){
                    flex-direction: column;
                    width: 100%;
                    
            }

        
 }

}  