.top{
    
    @media (max-width: $tablet) {
        padding: 0px 16px;
    }


    
    &__row{
        margin-top: 120px;
        gap: 47%;
        display: flex;
        justify-content: space-between;
        @media (max-width: $tablet) {
            flex-direction: column;
            padding-bottom: 0px;
        }
        
    }
    

    &__text{
        width: 541px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $tablet) {
           width: 288px;
        }
           
    }
}

.works{
    margin-top: 120px;
    @media (max-width: $tablet) {
        padding: 0px 16px;
    }


    &__cards{
        gap: 47%;
        display: flex;
        flex-direction: column;
        gap:48px;
        @media (max-width: $tablet) {
            gap:64px;
            
         }  


    }


    &__item-img{
        width: 544px;
        @media (max-width: $tablet) {
            width: 288px;
            margin-bottom: 24px;
         }

    }

    &__item{
        gap: 45%;
        display: flex;
        justify-content: space-between;
        @media (max-width: $tablet) {
        flex-direction: column-reverse;    
         }  
    }

    &__item:last-child{
        padding-bottom: 120px;
    }


    &__item-title{
        color:$color-black;
        
        &::after{
            content:'';
            display: block;
            height: 1px;
            width: 85px;
            background: $color-grey500;   
        }

    }
    &__item-text{
        padding-bottom: 16px;
        
    }
    &__item-year{
        padding-bottom: 39px;
        color: $color-grey700;
    }
   
    &__button{
        margin-top: 40px;
    }
   
}