
//  blog
    .blog {
        &__container {
            display: flex;
            flex-direction: column;
            margin: 135px auto 41px;
        }

        &__container-tag {
            color: $color-grey500;
            padding-bottom: 20px;

            @media (max-width: $tablet) {
                padding-bottom: 16px;
            }
        }

        &__container-title {
            max-width: 640px;
            padding-bottom: 44px;

            @media (max-width: $tablet) {
                padding-bottom: 16px;
            }
        }

        &__info-text {
            display: flex;
            gap: 39px;

            @media (max-width: $tablet) {
                gap: 14px;
                flex-direction: column;
            }
        }

        &__info-text-comments {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 64px;
        }
 }

    // blog end

    //  description
    .description {

        &__writer {
            display: flex;
            gap: 8px;
            align-items: center;
            margin: 39px 0px 39px 260px;

            @media (max-width: $tablet) {
                margin: 39px 0px 45px 0px;
            }
        }

        &__writer-img {
            max-width: 70px;
        }

        &__column {
            display: flex;
            justify-content: center;
            gap: 90px;


            @media (max-width: $tablet) {
                flex-direction: column;
                gap: 30px;
            }
        }

        &__social-networks {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-top: 11px;
            position: sticky;

            @media (max-width: $tablet) {
                flex-direction: row;
            }
        }

        &__row {
            max-width: 736px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 48px;
            margin-bottom: 32px;
        }

        &__content-text{
            color: $color-black;
        }

        
        &__context {
            display: flex;
            flex-direction: column;
            gap: 48px;
            margin-bottom: 32px;
            border-left: 2px solid $color-grey500;
            padding: 0px 0px 32px 64px;
        }

        &__context-text{
            color: $color-black;
        }

        &__content2-text{
            color:$color-black
        }

        &__questionanswer {
            display: flex;
            flex-direction: column;
            gap: 48px;
            margin: 32px 0 0 18px;
        }

        &__questionanswer-item {
            list-style: inside;
        }

        &__tags {
            display: flex;
            gap: 16px;
            margin: 66px auto 112px;
            border-bottom: 2px solid $color-black;
            padding-bottom: 16px;
            max-width: 736px;

            @media (max-width: $tablet) {
                border-bottom: 2px solid $color-grey500;
                margin: 64px auto 80px;
            }

        }

        &__tags-value {
            color: $color-grey500;
        }
    }

    // description end

    //  reply
    .reply {

        &__container {
            max-width: 663px;
            margin-bottom: 96px;
        }

        &__text {
            color: $color-grey500;
            margin-bottom: 64px;
        }

        &__form{
            display: flex;
            justify-content: space-between;
            gap: 43px;
            margin-bottom: 48px;

            @media (max-width: $tablet) {
                flex-direction: column;
                gap: 24px;
                margin-bottom: 22px;
            }

        }

        &__fields {
            width: 100%;
        }

        &__fields-checkbox {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 48px;

            @media (max-width: $tablet) {
                align-items: flex-start;
                margin-bottom: 22px;
            }
        }

        &__fields-checkbox-icon{
            width: 20px;
            height: 20px;
        }

        &__fields-checkbox-text {
            color: $color-grey500;
        }

        &__button {
            padding: 8px 34px;
            margin-top: 40px;
        }
    }

    // reply end

    //comment
    .comment {

        &__container {
            max-width: 663px;
            margin-bottom: 128px;
        }

        &__title {
            margin-bottom: 24px;
        }

        &__field {
            display: flex;
            flex-direction: column;
            gap: 40px
        }

        &__field-main,
        &__field-subordinate {
            display: flex;
            gap: 24px;
        }

        &__writer-img {
            width: 70px;
            height: 70px;
        }

        &__field-about {
            display: flex;
            align-items: center;
            gap: 24px;
            margin-bottom: 16px;
        }

        &__data {
            color: $color-grey500;
        }

        &__field-comments {
            color: $color-grey700;
            max-width: 639px;
            margin-bottom: 16px;
        }

        &__field-content-link-text {
            color: $color-grey500;
            padding-left: 6px;
        }

        &__field-reply {
            padding-left: 100px;
        }
    }
